<!DOCTYPE html>
<html>
<head>
    <title>图书列表</title>
</head>
<body>
    <h1>图书列表</h1>
    <table>
        <tr>
            <th>书名</th>
            <th>作者</th>
            <th>出版年份</th>
            <th>操作</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td><a href="{{ url_for('delete_book', book_id=book.id) }}">删除</a></td>
        </tr>
        {% endfor %}
    </table>

    <h2>添加图书</h2>
    <form action="{{ url_for('add_book') }}" method="post">
        <label for="title">书名：</label>
        <input type="text" name="title" required><br>
        <label for="author">作者：</label>
        <input type="text" name="author" required><br>
        <label for="year">出版年份：</label>
        <input type="number" name="year" required><br>
        <input type="submit" value="添加">
    </form>
</body>
</html>
